{# view/public/public_homepage.html.twig #}
{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} | Homepage{% endblock %}
{% block categ %}
    {% for item in mesSections %}
    <li class="nav-item"><a class="nav-link" href="/sections/{{ item.thesectionslug }}">{{ item.thesectiontitle }}</a></li>
    {% endfor %}
{% endblock %}

